* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper_boxes {
    width: 100%;
    height: 800px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: white;
}

@media(max-width:1199px ) {

    .wrapper_boxes {
        background-color: yellow;
        height: 500px;
        gap: 20px;
    }

    .box {
        background-color: blue;
    }

}


@media(max-width:639px){

    .wrapper_boxes {
        background-color: green;
        height: 650px;
        gap: 10px;
    }


    .box {
        background-color: black;
    }



}

@media(max-width:619px){
    .wrapper_boxes {
        background-color: aqua;
        height: 1000px;
        gap: 10px;
    }

    .box {
        background-color: green;
    }
}



@media(max-width:410px){


    .wrapper_boxes {
        background-color: blueviolet;
        height: 1900px;
        gap: 10px;
    }


    .box {
        background-color: yellowgreen;
    }




}